body {
    font-family: 'Open Sans', sans-serif;
}

article {
    display: grid;
    grid-template-columns: auto minmax(min-content, 1fr);
    grid-template-rows: auto minmax(min-content, 1fr) auto;
    max-width: 960px;
    margin: 0 auto;
}
  
  header {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  aside {
    grid-column: 1;
    grid-row: 2;
    background-color: #F0F0F2;
    padding: 5px 10px;
  }
  
  main {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    margin-left: 18px;
  }
  
  footer {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: #474F59;
    margin-top: 20px;
    padding: 5px 10px;
    color: white;
    margin-bottom: 20px;
  }
  
  blockquote {
    background-color: ghostwhite;
    padding: 10px;
    line-height: 1.8;
  }
  
  h1 {
    font-size: 42px;
    font-weight: 300;
  }
  
  footer a:link {
    color: lightgrey;
  }